<launch>
  <!-- <node pkg="task_manager" type="task_checker.py" name="task_checker" ns="/task8" output="screen"/> -->

  <node pkg="task_manager" type="task8.py" name="task8_node" ns="/task8" output="screen"/>

  <node pkg="UAV_camera" type="tin_locator.py" name="tin_locator" ns="/task8" output="screen"/>

  <node pkg="UAV_path_planning" type="UAV_status.py" name="UAV_status" ns="/task8" output="screen"/>

  <node pkg="UAV_path_planning" type="UAV_task8_pp.py" name="UAV_task8_path_planning" ns="/task8" output="screen"/>

  <!-- Uncomment the following line if tin data is given in abs coordinate instead of distance -->
  <!-- <node pkg="UAV_gps" type="UAV_gps_simple.py" name="UAV_gps_simple" ns="/task8" output="screen"/> -->
</launch>